{% extends "principal.html"%}
{% load static %}
{% block contenedor %}

<div id="idCarousel" class="carousel slide d-none d-md-block mb-3" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/img1.jpg' %}" class="d-block custom-carousel" alt="carousel1">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/img2.jpg' %}" class="d-block custom-carousel" alt="carousel2">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/img4.jpg' %}" class="d-block custom-carousel" alt="carousel3">
        </div>
    </div>
</div>


<div class="container mt-5" id="idNosotros">
    <h1>Nosotros</h1>
    <div class="row text-left ">
        
        <div class="col-md-6">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae nisl nec nulla facilisis suscipit
                vel at justo. In hac habitasse platea dictumst. Donec nec magna in arcu feugiat vehicula. Curabitur
                fermentum sapien quis velit vulputate tristique. Nam ac lorem ut nunc efficitur pharetra.
            </p>

        </div>
        <div class="col-md-6">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae nisl nec nulla facilisis suscipit
                vel at justo. In hac habitasse platea dictumst. Donec nec magna in arcu feugiat vehicula. Curabitur
                fermentum sapien quis velit vulputate tristique. Nam ac lorem ut nunc efficitur pharetra.
            </p>

        </div>
    </div>
</div>

<div class="container mt-5" id="idEspecialidades">
    <h1>Especialidades</h1>
    <div class="row">
        
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        </div>

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        </div>

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        </div>

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        </div>

        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

        </div>
    </div>
</div>


<div class="container mt-5 mb-5 pb-5" id="idInformacion">
    <h1>Información</h1>
    <div class="row text-left ">
        
        <div class="col-md-6">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae nisl nec nulla facilisis suscipit
                vel at justo. In hac habitasse platea dictumst. Donec nec magna in arcu feugiat vehicula. Curabitur
                fermentum sapien quis velit vulputate tristique. Nam ac lorem ut nunc efficitur pharetra.
            </p>

        </div>
        <div class="col-md-6">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae nisl nec nulla facilisis suscipit
                vel at justo. In hac habitasse platea dictumst. Donec nec magna in arcu feugiat vehicula. Curabitur
                fermentum sapien quis velit vulputate tristique. Nam ac lorem ut nunc efficitur pharetra.
            </p>

        </div>
    </div>
</div>

{% endblock %}